#hed{
    background-color: rgb(218, 36, 36);
    border-radius: 15px;
}
a:hover{
    background-color: rgb(255, 139, 139);
    border-radius: 10px;
    
}

.b-example-divider {
    margin: 10px;
    width: 97%;
    height: 3rem;
    background-color: rgba(243, 173, 43, 0.952);
    border: solid rgba(243, 173, 43, 0.952);
    border-width: 3px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }



  div#myCarousel{
    padding: 50px;
    background-image: url("/src/access/img/fondo-cumpleanos-diseno-plano-globos_52683-34658.jpg");
    background-repeat:round;
    margin-bottom: 5px;

  }